<ion-view view-title="Profile">
  <ion-content>
      <div class="item item-image">
        <img src="img/samanthaProfilePic.png">
      </div>
      <ion-list>
        <ion-item>
            <p>48 PHOTOS<span class="item-note">SEE MORE<i class="icon ion-chevron-right padding"></i></span></p>
        </ion-item>
        <div class="item item-image">
            <img src="img/photos.png">
        </div>
         <ion-item>
            <p>4 VIDEOS</p>
        </ion-item>
        <div class="item item-image">
            <img src="img/videos.png">
        </div>
        <ion-item>
            <p>301 FRIENDS<span class="item-note">SEE MORE<i class="icon ion-chevron-right padding"></i></span></p>
        </ion-item>
        <div class="item item-image">
            <img src="img/friends.png">
        </div>
      </ion-list>

  </ion-content>
</ion-view>
