/* Empty. Add your own CSS if you like */

body {
    font-family: 'Lato', sans-serif;
}

/* Custom styling for the notification badge of the profile icon for better layout */
.icon-badge {
    margin-top: -35px;
    margin-left: 30px;
    font-size: 11px;
    padding: 2px 7px;
    border-radius: 50px;
}

/* Custom styling for the 'online' status badge on each user. */
.avatar-badge {
    left: 0;
    width: 0px;
    height: 12px; /* controls height */
    margin-left: 45px;
    margin-top: 0px;
    font-size: 0px;
    padding: 0px 4px; /* second number controls width */
    border-radius: 50px;
    border: 2px solid white;
    box-sizing: border-box;
}

.sub-tab {
    background-color: #d9d9d9;
}

/* map styling */
.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

/*  */
.camera-tab {
    background-color: #272727;
}